/pdb
/src/CppTest/CppTest.aps
/src/CppTest/CppTest.vcxproj.user
/src/CppTest/Debug
/src/ipch
/src/NewUI/Debug
/src/NewUI/NewUI.vcxproj.user
/src/NewUI/NewUI.aps
/src/ElectricSaw.suo
/src/ElectricSaw.sdf
/lib/*.lib
/lib/*.exp
/lib/*.pdb
/bin/TaoBaoSenderd.ilk
/bin/AbnormalShapeManagerd.ilk
/bin/Algorithm_CSharpd.ilk
/bin/Carvingd.exp
/bin/Carvingd.ilk
/bin/Carvingd.lib
/bin/CppTestd.ilk
/bin/CppTestd.pdb
/bin/DataManagerd.ilk
/bin/drawingd.ilk
/bin/FileReadWrited.ilk
/bin/InternetManagerd.ilk
/bin/InternetManagerd.pdb
/bin/NewUId.ilk
/bin/NewUId.pdb
/bin/QRCoded.ilk
/bin/TaoBaoSenderd.exp
/bin/TaoBaoSenderd.lib
/src/ElectricSaw.opensdf
/src/AbnormalShapeManager/Debug
/src/AbnormalShapeManager/Release
/src/Algorithm_CSharp/Debug
/src/Algorithm_CSharp/Release
/src/Carving/Release
/src/Carving/Debug
/src/CSharpTest/obj
/src/DataManager/Release
/src/DataManager/Debug
/src/Encryption/Release
/src/Encryption/Debug
/src/FileReadWrite/Release
/src/FileReadWrite/Debug
/src/InternetManager/Release
/src/InternetManager/Debug
/src/KnifeDll/Debug
/src/KnifeDll/Release
/src/QRCode/Debug
/src/QRCode/Release
/src/SMSSender/SMSSender/obj
/src/TaoBaoSender/TaoBaoSender/Debug
/src/TaoBaoSender/TaoBaoSender/Release
/src/Carving/Carving.aps
/bin/KnifeDlld.ilk
/bin/KnifeDlld.lib
/bin/KnifeDlld.exp
/src/NewUI/~VC5D0E.tmp
/src/NewUI/~VC5D0F.tmp
/bin/*.pdb
/src/Encryption
/src/InternetManager
/src/KnifeDll
/src/SMSSender
/src/TaoBaoSender
/src/Algorithm_CSharp
/src/Carving
/bin/CSharpTest.vshost.exe.manifest
/bin/CSharpTest.vshost.exe
